<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Product Website</title>
    <meta name="author" content="Amber Szulc">
    <meta name="description" content="The Team same as index">

    <link rel="stylesheet" type="text/css" href="agile.css">
  </head>

  <body>
    <div  id="bkgd-img-main">
        <div class="contained">
          <div class="heading">
            <div class="our-logo">
              <a href="https://fontmeme.com/add-backgrounds/"><img src="https://fontmeme.com/permalink/220408/c38c98c69e87d6cdc92a81188181fe2f.png" alt="add-backgrounds" border="0"></a>
              </div>
      
            <div class="navbar">
              <a href="#shop">ComingSoon</a>
              <a href="./product.html">Product</a>
              <a href="./KVP.html">KVP</a>
                <a class="active" href="#home">Home</a>
            </div>
            <a href =#theProduct class="main-link">Learn More</a>
          </div>
        </div><!--end of image-->
      </div>
      <div class="TeamInfo">
         <h1 class="TeamInfo">
           Team Members
           </h1>
      </div>
      <div>
      <div class="bkgd-img" id="John">
       <p> Kevin - the Brains
        </p>
      </div>
      <div class="bkgd-img" id= "Paul"> 
      <p>
         Yichen - the Hot One
      </p>
      </div>
      <div class="bkgd-img" id= "George">
      <p>
         Mike - the Chill One
      </p>
      </div>
        <div class="bkgd-img" id="Ringo">
      <p>
         Amber - Apart of the group
      </p>
        
        </div>
          <div class= "spacing"></div>  
      
      <div class="productInfo"  id="theProduct" > 
        <h1 class="productInfo">
           The Product
           </h1>
          <div class= "spacing"></div>  
        <p>This product measures people's postures while shooting a basketball to improve their athletic preformance and prevent injury. It will be a wrist and combined with a tracking device software to update them on their real-time preformance when shooting</p> 
      
      </div>
      
      <section class='padding-responsive'>

        <div class='separator'>Our Team as a table</div>
  
        <table class='margin-top-xl'>
          <thead>
            <tr>
              <th class='small'> First Name </th>
              <th class='medium'> Last Name </th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td> {{user[0]}} </td>
              <td> {{user[1]}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


      <footer>
        <p class="text-footer"> Thanks. creator: Amber Szulc </p> 
      </footer>

  </body>
  </html>