
<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Product Website</title>
    <meta name="author" content="Amber Szulc">
    <meta name="description" content="The Team">

    <link rel="stylesheet" type="text/css" href="agileKVP.css">
  </head>
<body>
  <div class="heading"><!--navbar start-->
    <div class="our-logo">
      <a href="https://fontmeme.com/add-backgrounds/"><img src="https://fontmeme.com/permalink/220408/c38c98c69e87d6cdc92a81188181fe2f.png" alt="add-backgrounds" border="0"></a>
      </div>

    <div class="navbar">
      <a href="#shop">ComingSoon</a>
      <a href="./product.html">Product</a>
      <a href="./KVP.html">KVP</a>
        <a class="active" href="./index.html">Home</a>
    </div>
  </div><!--navbar end-->

<div class="Title">
<h1>Key Value Proposition </h1>
</div>

<div class="column-layout">
<div class="main-column">
<h2>The KVP - Please Read!</h2>
<p class="text-kvp"> Our product's key value is used to improve basketball preformance by encouraging our users to practice, and by giving them real time feedback on how to improve their free throw form. Currently there are no other apps that track basketball preformance or form. </p>
<p>Thus, our competitors would be other workout apps like cashWalk or Peloton. However, these apps focus on at home workouts like biking or running. We will be specifically targetting basketball players, which is a different niche group within the larger athletic consumer market. Thus, customers will choose us because we service improving basketball preformance not another sport like running or biking.</p>
<p>Our product is a vitamin as it used to enhance free throw and overall basketball preformance, which improving preformance is a vitamin related issue. Customers will go to us to solve their problem of not meeting their desired ability to make free throws to improve their weaker than expected game. We promise to our customers a way to measure the accuracy of their form, with recommendations on how to correct it, along with tracking/storing this free-throw data. </p>

<p>The user will also have the ability to set goals on how many free throws or how many accurate free throws they want to accomplish. Similar ot how people use calorie tracking apps or step counters with goal systems and measuring, having a way to measure progress encourages people to continue practicing and get better at their respective goals (in this case basketball). Our market is the online health, fitness, and training industry.</p>
<h3> Proposition template </h3>
<p><b> Our free throw monitoring and coaching app helps novice and intermediate basketball players who want to improve their free throw and shooting preformance by monitoring and goal-setting their free throw preformance with real-time coaching from software-based motion detectors. Unlike cashWalk or peloton who only service bikers, runners, or people of a different sport.</b> </p>
<img class="colimg">
</div>

<div class="sidebar-one">
<h3>The flexbox sidebar</h3>
<p  class="text-kvp">These sidebars are normally just ad space. So...
  <br>buy pronamel whitning toothpaste for sensitive teeth for a cleaner, whiter smile. </p>
<img class="adimg">
</div>

<div class="sidebar-two">
<h3>The Flexbox sidebar </h3>
<p  class="text-kvp">Thank you for reading about our product. Here is a picture of a penguin for you as a reward.<br>Penguins!
</p>
<img class="penguinimg">
</div>

</div>

<div class="call-container">
<div class="callout">
    <h4>Data Tracking</h4>
    <img class="KVPborder">
</div>

<div class="callout">
    <h4>is cool</h4>
    <img class="KVPimg">
</div>

<div class="callout">
    <h4>and so are u</h4>
</div>

</div>

<footer>
<p>Author: Amber Szulc</p>
<p><a href="mailto:hege@example.com">aszulc@ucsd.edu</a></p>
</footer>
</body>
</html>