<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Product Website</title>
    <meta name="author" content="Amber Szulc">
    <meta name="description" content="The Team">

    <link rel="stylesheet" type="text/css" href="agileKVP.css">
  </head>
<html>
<body>

<div class="heading"><!--navbar start-->
    <div class="our-logo">
      <a href="https://fontmeme.com/add-backgrounds/"><img src="https://fontmeme.com/permalink/220408/c38c98c69e87d6cdc92a81188181fe2f.png" alt="add-backgrounds" border="0"></a>
      </div>

    <div class="navbar">
      <a href="#shop">ComingSoon</a>
      <a href="./product.html">Product</a>
      <a href="./KVP.html">KVP</a>
        <a class="active" href="./index.html">Home</a>
    </div>
  </div><!--navbar end-->


<div class="hero-image">
  <div class="hero-text">
    <h1 class="hero-header">Ring Master</h1>
    <p>The Adrenaline Rush of Excellence</p>
  </div>  
</div> 
    <div>
    <h1 class="hero-header">Empathic Map</h1>
    <img src="empathhmap.PNG" alt="Empathic map" class="center">
    </div>

<div class=ProductSection>
 
<div class=ProductHeader>
<h4 style="color: #a52a2a"> Our Story </h4>
<h1>Retake Command of the Court</h1>
</div>
<div class=ProductSummary>
<h4> The Product </h4>
<p> We are on a mission to defeat that inner critic. Crush the weak form and sloppy hand that has kept free throws everywhere from releasing their true power. Help athletes master the precision and form necessary to become a worthy of making a name for themselves. </p>
<p> Our product is a data tracker to improve and monitor an individual's free throw form, so they can improve their basketball preformance. The customer base are new or intermediate basketball players who need help understanding how to correct their form, along with keeping a way to monitor their practice. Similar to how a cash walking app measures and record a person's walking milage, our app key benefits are that it keeps track of amount of free throws a person does, the accuracy of those throws, with real time suggestions on how to improve. Its like having a personal coach in your pocket to keep you motivated, on task, and constantly improving</p>
<p> The data tacker app works by connecting a band to the user's wrist, and uses tracking technology in the wrist band to measure how precisely a person's free throw matched the template of what a correct free throw looks like. The percent accuracy of the person's throw along with visual mapping of how the individual deviated from the correct form will show up on the software website. This immediate feedback will help improve their technique and skill level. This accuracy score along with the number of free throws shot and possibly other data will be saved over time, so the user can track their progress an improvement on a daily, weekly, and monthly basis. 
</div>
</div>


<footer>
<p>Author: Amber Szulc</p>
<p><a href="mailto:hege@example.com">aszulc@ucsd.edu</a></p>
</footer>

</body>
</html>